header {
    background-image: url("cla-ConvertImage-ConvertImage.jpg");
    background-position: center center;
    background-size: 100%;
    z-index: -1;
    height: 22em;
    position: relative;
    background-repeat: no-repeat;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;  
    flex-direction: column;
}
div.title {
    height: 3em;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 11em;
}

h1{
    
    font-family: 'Lobster', cursive;
    word-spacing: 6em;
    margin: 0;
    padding: 0;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    
}

div#avatar {
    background-image: url('me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 12em;
    height: 12em;
    border-radius: 50%; 
    padding: 0;
    filter: grayscale(80%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 4em;
}

h2 {
    font-size: ;
}

h2#JD{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;   
    margin-top: ;    
    position: absolute;
    top: 12em;

    
}
body {
    margin: 0;
}
.pag {
    background-color: #393939;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    color: aqua;
    display: flex;
    flex-direction: row;

}
.colg {
    width: 40%;
    text-align: ; 
    margin-left: 10%;
       
}
.cold {
    width: 40%;
    text-align: ; 
    margin-left: 10%; ;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    color: aqua;   
    font-size: 2em;
}
h4 {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
}
.progress-bar {
    background-color: #1a1a1a;
        height: 25px;
        padding: 5px;
        width: 250px;
        margin: 5px 0;
        float: right;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
        -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
        box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}
.progress-bar span {
    display: inline-block;
    background-color: aqua;
    height: 100%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
}
#sticky {
    width:100%;
    height:44px;
    padding-top:20px;
    background:#696969;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    font-weight:bold;
    text-align:center;
    position: static;    /*Here's what sticks it*/
    bottom:0;          /*to the bottom of the window*/
    left:0;            /*and to the left of the window.*/
  }